/*
* Wolf CMS - Content Management Simplified. <http://www.wolfcms.org>
* Copyright (C) 2008-2010 Martijn van der Kleijn <martijn.niji@gmail.com>
*
* Members Plugin for Wolf CMS
* Provides OAuth social login and account management.
*
* @package Plugins
* @subpackage social_login
*
* @author Marek Murawski <http://marekmurawski.pl>
* @copyright Marek Murawski, 2013
* @license http://www.gnu.org/licenses/gpl.html GPLv3 license
*
*/
#social_login_box { font-size: 12px; position: relative; }
#social_login_box img { margin: 0; padding: 0; }
#social_login_box .box-wrapper { padding: 0; border: 1px solid #DDD; border-radius: 3px; margin: 0px 0px 16px 0px; }
#social_login_box .box-title { color: #444; font-size: 14px; text-align: center; padding: 2px 4px; font-weight: bold; background-color: #dfe4e4; background-image: -moz-linear-gradient(#fafafa, #dfe4e4); background-image: -webkit-linear-gradient(#fafafa, #dfe4e4); background-image: linear-gradient(#fafafa, #dfe4e4); background-repeat: repeat-x; margin: 0; text-shadow: 0 1px 0 #FFF; }
#social_login_box .box-content { padding: 8px; margin: 0; position: relative; }
#social_login_box .box-comment { color: #888; margin: 8px 0px 8px 0px; }
#social_login_box .social-icon { margin: 2px; padding: 2px; display: block; text-decoration: none; color: #666; background-color: #dfe4e4; border: 1px solid #dddddd; border-radius: 2px; text-shadow: 0 1px 0 #FFF; }
#social_login_box .social-icon:hover { color: #000; background-color: #CCC; border: 1px solid #BBB; }
#social_login_box .social-icon span { margin: 0 6px; vertical-align: middle; }
#social_login_box .social-icon img { vertical-align: middle; }
#social_login_box .username, #social_login_box .actions { margin-bottom: 8px; }
#social_login_box img.avatar { position: absolute; right: 8px; top: 8px; border-radius: 2px; }
#social_login_box .alert-box { padding: 2px 4px; position: relative; font-size: 11px; border-radius: 2px; }
#social_login_box .alert-box.success { background-color: #AEDB99; border: 1px solid #81C081; }
#social_login_box .alert-box.alert { background-color: #FF7266; border: 1px solid red; }
#social_login_box .alert-box.info { background-color: #FF7266; border: 1px solid red; }
#social_login_box .alert-box a.close { color: white; font-size: 16px; font-weight: bold; position: absolute; right: 4px; top: 0px; }
