/*
* Wolf CMS - Content Management Simplified. <http://www.wolfcms.org>
* Copyright (C) 2008-2010 Martijn van der Kleijn <martijn.niji@gmail.com>
*
* Members Plugin for Wolf CMS
* Provides OAuth social login and account management.
*
* @package Plugins
* @subpackage social_login
*
* @author Marek Murawski <http://marekmurawski.pl>
* @copyright Marek Murawski, 2013
* @license http://www.gnu.org/licenses/gpl.html GPLv3 license
*
*/

$primary: #9AA;
$error: #F40;
$radius: 3px;
$radius-small: 2px;
$iconBorderColor: #DDD;
$iconBackgroundColor: lighten($primary, 25%);

#social_login_box {
    font-size: 12px;
    position: relative;
    img {margin:0; padding: 0;}
    
    // BOXES 
    .box-wrapper          { padding: 0; border: 1px solid #DDD; border-radius: $radius; margin: 0px 0px 16px 0px;}
    .box-title            { color: #444; font-size: 14px; text-align: center; padding: 2px 4px; font-weight: bold;
        background-color: lighten($primary, 25%);        
        background-image: -moz-linear-gradient(#FAFAFA, lighten($primary, 25%));        
        background-image: -webkit-linear-gradient(#FAFAFA, lighten($primary, 25%));        
        background-image: linear-gradient(#FAFAFA, lighten($primary, 25%));        
        background-repeat: repeat-x;        
        margin: 0;                
        text-shadow: 0 1px 0 #FFF;    
    }
    .box-content          { padding: 8px; margin: 0; position: relative;}
    .box-comment          { color: #888; margin: 8px 0px 8px 0px;}
    
    // SOCIAL ICONS
    .social-icon            { margin: 2px; padding: 2px; 
        display: block; 
        text-decoration: none; 
        color: #666; 
        background-color: $iconBackgroundColor; 
        border: 1px solid $iconBorderColor; 
        border-radius: $radius-small;
        text-shadow: 0 1px 0 #FFF;
    }
    .social-icon:hover      { color: #000; background-color: #CCC; border: 1px solid #BBB;}
    .social-icon span       { margin: 0 6px; vertical-align: middle; }
    .social-icon img        { vertical-align: middle; }
    
    .username, .actions     { margin-bottom: 8px;}
    
    img.avatar              { position: absolute; right: 8px; top: 8px; border-radius: $radius-small; }
    
    // ALERT BOXES
    
    .alert-box {padding: 2px 4px; position: relative; font-size: 11px;  border-radius: $radius-small;}
    .alert-box.success {background-color: #AEDB99; border: 1px solid #81C081;}
    .alert-box.alert {background-color: #FF7266; border: 1px solid red;}
    .alert-box.info {background-color: #FF7266; border: 1px solid red;}
    .alert-box a.close { color: white; font-size: 16px; font-weight: bold; position: absolute; right: 4px; top: 0px;}
    
} 
