#social_login_page { /* TABLES */ /* FORMS */ /* BUTTONS */ /* BOXES */ /* SOCIAL ICONS */ /* ALERTS */ /* PAGE SPECIFIC */ /* identities table */ }
#social_login_page p { margin: 0px 0px 8px 0px; }
#social_login_page img { margin: 0; padding: 0; }
#social_login_page .notice-text { background: #FFE3D3; padding: 4px; border-radius: 3px; border: 1px solid #FFB673; }
#social_login_page table { width: 100%; }
#social_login_page td { padding: 4px 8px; }
#social_login_page td.social-label { width: 140px; text-align: right; font-style: italic; }
#social_login_page td.field { min-width: 100px; }
#social_login_page td.help { width: 100px; color: #888; }
#social_login_page td.help.wide { width: 250px; }
#social_login_page td.help.medium { width: 175px; }
#social_login_page td.strong { font-weight: bold; }
#social_login_page input { width: 100%; border: 1px solid #DDD; padding: 3px; margin: 2px -3px; border-radius: 3px; }
#social_login_page input:hover, #social_login_page input:active { border-color: #AAA; }
#social_login_page input.error { border: 1px solid #ff4400; background-color: #FED; margin-bottom: 0px; }
#social_login_page div.form-item-errors { background-color: #F40; color: white; padding: 2px 8px; }
#social_login_page .actions { margin: 8px; padding: 8px; text-align: center; }
#social_login_page button, #social_login_page a.button { margin: 2px; padding: 3px 8px; background-color: #dddddd; border: 1px solid #c3c3c3; border-radius: 2px; color: black; font-style: normal; text-decoration: none; cursor: pointer; text-shadow: 0 1px 0 #FFF; }
#social_login_page button:hover, #social_login_page a.button:hover { background-color: #d5d5d5; border: 1px solid #bcbcbc; }
#social_login_page .box-wrapper { padding: 0; border: 1px solid #eaeaea; border-radius: 3px; margin: 0px 0px 16px 0px; }
#social_login_page .box-wrapper.centered { width: 80%; max-width: 640px; margin: 8px auto 8px auto; }
#social_login_page .box-title { color: #444; font-size: 16px; text-align: center; padding: 4px 8px; font-weight: bold; background-color: #eaeaea; background-image: -moz-linear-gradient(#fafafa, #eaeaea); background-image: -webkit-linear-gradient(#fafafa, #eaeaea); background-image: linear-gradient(#fafafa, #eaeaea); background-repeat: repeat-x; margin: 0; text-shadow: 0 1px 0 #FFF; }
#social_login_page .box-content { padding: 8px; margin: 0; position: relative; border-top: 1px solid #dddddd; }
#social_login_page .box-comment { color: #888; margin: 8px 0px 8px 0px; }
#social_login_page .social-icon { margin: 2px; padding: 2px; display: inline-block; text-decoration: none; color: #666; background-color: #EEE; border: 1px solid #DDD; border-radius: 3px; }
#social_login_page .social-icon:hover { color: #000; background-color: #CCC; border: 1px solid #BBB; }
#social_login_page .social-icon span { margin: 0 6px; vertical-align: middle; }
#social_login_page .social-icon img { vertical-align: middle; }
#social_login_page .alert-box { padding: 4px 12px; position: relative; border-radius: 3px; margin-bottom: 4px; }
#social_login_page .alert-box.success { background-color: #AEDB99; border: 1px solid #81C081; }
#social_login_page .alert-box.error { background-color: #FF7266; border: 1px solid red; }
#social_login_page .alert-box.info { background-color: #FF7266; border: 1px solid red; }
#social_login_page .alert-box a.close { color: black; font-size: 20px; font-weight: bold; text-decoration: none; position: absolute; right: 12px; top: 0px; }
#social_login_page .profile-welcome-header { font-size: 24px; margin-bottom: 16px; font-weight: bold; }
#social_login_page .profile-welcome-header .name { color: #888; }
#social_login_page .avatar { position: absolute; right: 8px; top: 8px; border-radius: 3px; }
#social_login_page span.role_item, #social_login_page span.permission_item { display: inline-block; cursor: default; background-color: #efefef; border: 1px solid #e2e2e2; border-radius: 2px; padding: 0px 3px; margin: 0 2px 2px 0; text-shadow: 0 1px 0 #FFF; }
#social_login_page table.identities { border: 1px solid #DDD; border-radius: 3px; }
#social_login_page table.identities thead { background-color: #DDD; }
#social_login_page table.identities thead th { font-weight: bold; padding: 3px; text-align: center; }
#social_login_page table.identities td { padding: 1px 4px; }

/* HIDES MESSAGES IN Social::loginBox(), WHILE ON PROFILE PAGE 
* don't copy this into your own GLOBAL stylesheet if you want them displayed
*/
#social_login_box .alerts { display: none !important; }
