$primary: #AAA;
$error: #F40;
$radius: 3px;
$radius-small: 3px;

#social_login_page {
    
    p { margin: 0px 0px 8px 0px; }
    img {margin:0; padding: 0;}
    .notice-text        { background: #FFE3D3; padding: 4px; border-radius: $radius;border: 1px solid #FFB673;}
    
    /* TABLES */
    table {width: 100%}
    td             { padding: 4px 8px;}
    td.social-label{ width: 140px; text-align: right; font-style: italic; }
    td.field       { min-width: 100px;}
    td.help        { width: 100px; color: #888; }
    td.help.wide   { width: 250px; }
    td.help.medium { width: 175px; }
    td.strong      { font-weight: bold; }
    
    /* FORMS */
    input       { width: 100%; border: 1px solid #DDD; padding: 3px; margin: 2px -3px; border-radius: $radius-small;}
    input:hover,
    input:active { border-color: #AAA; }
    input.error { border: 1px solid $error; background-color: #FED; margin-bottom: 0px; }
    div.form-item-errors        { background-color: #F40; color: white; padding: 2px 8px;}
    .actions    { margin: 8px; padding: 8px; text-align: center; }
    
    
    /* BUTTONS */
    button,
    a.button       { margin: 2px; padding: 3px 8px; background-color: lighten($primary, 20%); border: 1px solid lighten($primary, 10%); border-radius: $radius - 1px; color: black; font-style: normal; text-decoration: none; cursor: pointer;text-shadow: 0 1px 0 #FFF;}
    button:hover,
    a.button:hover { background-color: lighten($primary, 17%); border: 1px solid lighten($primary, 7%);}
    
    /* BOXES */
    .box-wrapper          { padding: 0; border: 1px solid lighten($primary, 25%); border-radius: $radius; margin: 0px 0px 16px 0px;}
    .box-wrapper.centered { width: 80%; max-width: 640px; margin: 8px auto 8px auto;}
    .box-title            { color: #444; font-size: 16px; text-align: center; padding: 4px 8px; font-weight: bold;        
        background-color: lighten($primary, 25%);        
        background-image: -moz-linear-gradient(#FAFAFA, lighten($primary, 25%));        
        background-image: -webkit-linear-gradient(#FAFAFA, lighten($primary, 25%));        
        background-image: linear-gradient(#FAFAFA, lighten($primary, 25%));        
        background-repeat: repeat-x;        
        margin: 0;                
        text-shadow: 0 1px 0 #FFF;    
    }
    .box-content          { padding: 8px; margin: 0; position: relative;border-top: 1px solid lighten($primary, 20%);}
    .box-comment          { color: #888; margin: 8px 0px 8px 0px;}
    
    /* SOCIAL ICONS */
    .social-icon            { margin: 2px; padding: 2px; display: inline-block; text-decoration: none; color: #666; background-color: #EEE; border: 1px solid #DDD; border-radius: 3px;}
    .social-icon:hover      { color: #000; background-color: #CCC; border: 1px solid #BBB;}
    .social-icon span       { margin: 0 6px; vertical-align: middle; }
    .social-icon img        { vertical-align: middle; }
    
    /* ALERTS */
    .alert-box         { padding: 4px 12px; position: relative; border-radius: 3px; margin-bottom: 4px; }
    .alert-box.success { background-color: #AEDB99; border: 1px solid #81C081}
    .alert-box.error   { background-color: #FF7266; border: 1px solid red;}
    .alert-box.info    { background-color: #FF7266; border: 1px solid red;}
    .alert-box a.close { color: black; font-size: 20px; font-weight: bold; text-decoration: none; position: absolute; right: 12px; top: 0px;}
    
    
    /* PAGE SPECIFIC */
    .profile-welcome-header       { font-size: 24px; margin-bottom: 16px; font-weight: bold;}
    .profile-welcome-header .name { color: #888;}
    .avatar                       { position: absolute; right: 8px; top: 8px; border-radius: $radius-small;}
    span.role_item,
    span.permission_item { display: inline-block; cursor: default; background-color: lighten($primary, 27%); border: 1px solid lighten($primary, 22%); border-radius: $radius - 1px;padding: 0px 3px; margin: 0 2px 2px 0;text-shadow: 0 1px 0 #FFF;  }
    /* identities table */
    table.identities          { border: 1px solid #DDD; border-radius: 3px;}
    table.identities thead    { background-color: #DDD;}
    table.identities thead th { font-weight: bold; padding: 3px; text-align: center;}
    table.identities td       { padding: 1px 4px;}
}

/* HIDES MESSAGES IN Social::loginBox(), WHILE ON PROFILE PAGE 
* don't copy this into your own GLOBAL stylesheet if you want them displayed
*/
#social_login_box .alerts {display: none !important;}